<div class="container mt-5 mb-5">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="p-3">
        <div class="resettext">Change Password</div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="userId" placeholder="User Id" formControlName="userId">
            <label for="userId">User Id</label>
            <div *ngIf="resetForm.touched && userId.status == 'INVALID' " class="error">
                User ID must be 6-8 digits long & must only contain digits
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="oldPassword" placeholder="Old Password"
                formControlName="oldPassword">
            <label for="oldPassword">Old Password</label>
            <div *ngIf="oldPassword.touched && oldPassword.status == 'INVALID' " class="error">
                Password can't be blank
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="newPassword" placeholder="New Password"
                formControlName="newPassword">
            <label for="newPassword">New Password</label>
            <div *ngIf="newPassword.touched && newPassword.status == 'INVALID' " class="error">
                Password length must greater than eight & must contains atleast one UpperCase, one LowerCase, one
                digit,
                one special character
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="cPassword" placeholder="Confirm Password"
                formControlName="cPassword">
            <label for="cPassword">Confirm Password</label>
            <div *ngIf="cPassword.touched && cPassword.status == 'INVALID' " class="error">
                Password doesnot match
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div>
                <button type="submit" [disabled]="resetForm.status == 'INVALID'" class="btn btn-success submit mb-1">Change Password</button>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <hr style="width: 45%;">
            OR
            <hr style="width: 45%;">
        </div>
        <div class="mb-2 d-flex justify-content-center align-items-center">
            <a class="me-3" routerLink="/resetPassword"> Forgotten Password?</a>
            <a routerLink="/register"> Sign up for Customer App</a>
        </div>
    </form>
</div>

{{userId.value}}
{{oldPassword.value}}
{{newPassword.value}}
{{cPassword.value}}