.card {
    height: 25rem;
    /* overflow: hidden; */
}
.card:hover {
    /* background-color: rgb(255, 84, 175); */
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 20%);
    /* animation: animy 0.2s ease-in-out 1; */
}

.card-body {
    flex: unset;
}

@keyframes animy {
    from {
        box-shadow: 0px 0px 0px -6px #000000;
    }

    to {
        box-shadow: 0px 0px 18px -6px #000000;
    }
}

img {
    width: 10em;
}