.container {
    background-color: white;
    width: 40vw;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 20%);
}

.error{
    color: red;
    border-radius: 5px;
    margin: 2px;
    padding-left: 2px;
}

.logintext {
    color: blueviolet;
    text-align: center;
    font-size: 2rem;
    padding: 10px 0px 15px 0px;
    font-family: 'Roboto Slab', serif;
}

.lockdiv {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.lock {
    width: 3rem;
}