.container {
    background-color: #1d2038;
    width: 50vw;
    border-radius: 10px;
    padding: 0px 40px 0px 40px;
}

.submit{
    height: 50px;
    width: 180px;
    border-radius: 8px;
    translate: 170px;
}

.error{
    color: red;
    border-radius: 5px;
    margin: 2px;
    padding-left: 2px;
}

.registrationtext {
    color: yellow;
    text-align: center;
    padding: 10px 0px 15px 0px;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
}