<div class="container mt-5 mb-5">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="p-3">
        <div class="lockdiv d-flex flex-column">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSNpjfCk957rg_kcDFcGu-jjPuJ6ZEUIL_4Q&usqp=CAU"
                alt="img" class="lock">
            <div class="registrationtext">Register to Customer App</div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="userId" placeholder="User Id" formControlName="userId">
            <label for="userId">User Id</label>
            <div *ngIf="userId.touched && userId.status == 'INVALID' " class="error">
                User ID must be 6-8 digits long & must only contain digits
            </div>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
            <label for="name">Name</label>
            <div *ngIf="name.touched && name.status == 'INVALID' " class="error">
                Name can't be blank
            </div>
        </div>
        <div class="d-flex"> Gender:
            <div class="form-check ms-2 me-2">
                <input class="form-check-input" type="radio" id="male" formControlName="gender" value="male"
                    name="gender">
                <label class="form-check-label" for="male">
                    Male
                </label>
            </div>
            <div class="form-check me-1">
                <input class="form-check-input" type="radio" id="female" formControlName="gender" value="female"
                    name="gender">
                <label class="form-check-label" for="female">
                    Female
                </label>
            </div>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="skills" placeholder="Skills" formControlName="skills">
            <label for="skills">Skills</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <textarea class="form-control" id="about" placeholder="About" formControlName="about"
                style="height: 70px"></textarea>
            <label for="about">About</label>
        </div>
        <div class="row">
            <div class="form-floating mb-3 col-6">
                <input type="password" class="form-control" id="password" placeholder="Password"
                    formControlName="password">
                <label for="password" style="padding-left: 20px;">Password</label>
                <div *ngIf="password.touched && password.status == 'INVALID' " class="error">
                    Password length must greater than eight & must contains atleast one UpperCase, one LowerCase, one
                    digit,
                    one special character
                </div>
            </div>
            <div class="form-floating mb-3 col-6">
                <input type="password" class="form-control" id="cpassword" placeholder="cPassword"
                    formControlName="cpassword">
                <label for="cpassword" style="padding-left: 20px;">Confirm Password</label>
                <div *ngIf="cpassword.touched && cpassword.status == 'INVALID' " class="error">
                    Password doesnot match
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="">
                <button type="submit" [disabled]="registerForm.status == 'INVALID'" class="btn btn-success mb-2">Sign
                    in</button>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <hr style="width: 45%;">
            OR
            <hr style="width: 45%;">
        </div>
        <div>
            <a class="mb-2 d-flex justify-content-center align-items-center" routerLink="/login"> Already have an
                account?</a>
        </div>
    </form>
</div>

<!-- TOAST -->
<!-- <div class="toast-container position-fixed bottom-0 end-0 p-3" style="width: 25vw;">
    <div id="displayToast" class="toast">
        <div class="toast-header">
            <img src="../../assets/logo.png" class="rounded me-2" alt="logo">
            <strong class="me-auto">Customer App</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body" [class]="toastBgc">
            {{toastMessage}}
        </div>
    </div>
</div> -->

<!-- {{'id: ' + registerForm.controls['userId'].value}}
{{'name: ' + registerForm.controls['name'].value}}
{{'about: ' + registerForm.controls['about'].value}}
{{'skills: ' + registerForm.controls['skills'].value}}
{{'gender: ' + registerForm.controls['gender'].value}}
{{'password: ' + registerForm.controls['password'].value}}
{{'cp: ' + registerForm.controls['cpassword'].value}} -->