<app-navigation></app-navigation>

<!-- <button class="btn btn-danger" (click)="showToast()">toast</button> -->

<!-- TOAST -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="width: 25vw;">
    <div id="toast" class="toast">
        <div class="toast-header">
            <img src="../../assets/logo.png" class="rounded me-2" alt="logo">
            <strong class="me-auto">Customer App</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>