<div class="table-responsive">
    <table class="table table-striped mt-1">
        <thead>
            <tr>
                <th scope="col" id="userId">Customer Id</th>
                <th scope="col" id="name">Name</th>
                <th scope="col" id="skills">Skills</th>
                <th scope="col" id="gender">Gender</th>
                <th scope="col" id="actions">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider" *ngIf="customer.followersCustomers.length > 0; else noFollowers">
            <tr *ngFor="let f of customer.followersCustomers">
                <th scope="row">{{f.id}}</th>
                <td>{{f.name}}</td>
                <td>{{f.skills}}</td>
                <td>{{f.gender}}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info" (click)="viewFriend(f.id)">View
                        </button>
                        <button *ngIf="loggedInUser.id == customer.id" type="button" class="btn btn-danger"
                            (click)="removeFollower(f.id)">Remove</button>
                        <button
                            *ngIf="!loggedInUser.friends.includes(f.id) && loggedInUser.id != f.id; else followingbtn"
                            type="button" class="btn btn-success" (click)="follow(f.id)">Follow</button>
                        <ng-template #followingbtn>
                            <button *ngIf="loggedInUser.id != f.id" type="button"
                                class="btn btn-success" (click)="unfollow(f.id)">Following</button>
                        </ng-template>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noFollowers>
    <div>No Followers...</div>
</ng-template>