<div class="d-flex m-2 justify-content-center">
    <div class="card overflow-auto me-5" style="width: 18rem;">
        <div [ngSwitch]="customer.gender" class="m-auto">
            <img *ngSwitchCase="'male'" src="../../assets/male.png" class="card-img-top mt-1" alt="img">
            <img *ngSwitchCase="'female'" src="../../assets/female.png" class="card-img-top mt-1" alt="img">
            <img *ngSwitchDefault src="../../assets/commonLogo.jpg" class="card-img-top mt-1" alt="img">
        </div>
    </div>
    <div class="info d-flex flex-column flex-wrap justify-content-center">
        <button type="button" class="btn btn-warning mb-3 align-self-start"
            (click)="onEditClick(customer)">Edit</button>
        <p><b>User Id: </b> {{customer.id}}</p>
        <p><b>Name: </b> {{customer.name}}</p>
        <p><b>Skills: </b>{{customer.skills}}</p>
        <p><b>About: </b> {{customer.desc}}</p>
    </div>
</div>

<div class="container following mb-3">
    <div class="">
        <ul class="nav nav-tabs">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" (click)="childTab('following')">Following</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" (click)="childTab('followers')">Followers</button>
            </li>
        </ul>
    </div>
    <div class="">
        <div *ngIf="tabSelected == 'following'">
            <app-following (customerChange)="customerChangeFromChild($event)" [customer]="customer"></app-following>
        </div>
        <div *ngIf="tabSelected == 'followers'">
            <app-followers (customerChange)="customerChangeFromChild($event)" [customer]="customer"></app-followers>
        </div>
    </div>    
</div>

<router-outlet></router-outlet>