.gend {
    display: inline-block;
}

.btn {
    background-color: #7a11cb;
    color: whitesmoke;
    border-radius: 2rem;
}

.btn:hover{
    background-color: #9000ff;
} 

input[disabled]{
    background-color: rgb(162, 162, 162);
    color: rgb(77, 77, 77);
}